@import 'styles/color.scss', 'styles/font.scss', 'styles/mixins.scss',
  'styles/size.scss';

.mono-button {
  align-items: center;
  border-radius: $size2;
  border: $size0 solid;
  color: $colorFont6;
  cursor: pointer;
  display: flex;
  font-family: $fontFamily;
  font-weight: 300;
  margin-bottom: $size3;
  padding: $size3;
  vertical-align: middle;

  &:focus {
    @include focusHighlight($size0, $colorHighlight0, 0.35);
  }

  &--small {
    font-size: $size5;
    padding: $size2 $size5;

    &:active {
      transform: scale(0.9825);
    }
  }

  &--medium {
    font-size: $size6;
    padding: $size3 $size6;

    &:active {
      transform: scale(0.98);
    }
  }

  &--large {
    font-size: $size7;
    padding: $size4 $size7;

    &:active {
      transform: scale(0.975);
    }
  }

  &--inline {
    display: inline-flex;
    margin: 0 $size2;
    padding: 0;

    .mono-icon {
      margin-right: 0;
    }
  }

  &--round {
    &.mono-button--small {
      border-radius: $size5 + $size2;
    }

    &.mono-button--medium {
      border-radius: $size6 + $size3;
    }

    &.mono-button--large {
      border-radius: $size7 + $size4;
    }
  }

  &--fill {
    background: $colorBackground4;
    border-color: transparent;

    &:hover {
      background: $colorBackground5;
    }
  }

  &--outline {
    background: transparent;
    border-color: $colorBackground6;

    &:hover {
      background: $colorBackground4;
    }
  }

  &--link {
    background: transparent;
    border-color: transparent;
    color: $colorFont2;
    text-decoration: underline;
    text-decoration-thickness: $size0;
    text-underline-position: under;

    &:hover {
      color: $colorFont3;
      text-decoration: none;
    }

    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  &--disabled {
    color: desaturate($colorFont1, 100%);
    pointer-events: none;

    &:hover {
      color: desaturate($colorFont1, 100%);
    }

    &:active {
      transform: scale(1);
    }

    &.mono-button--fill {
      background: desaturate($colorBackground4, 85%);
      border-color: transparent;

      &:hover {
        background: desaturate($colorBackground5, 85%);
      }
    }

    &.mono-button--outline {
      background: transparent;
      border-color: desaturate($colorBackground6, 85%);

      &:hover {
        background: transparent;
      }
    }

    &.mono-button--link {
      background: transparent;
    }
  }
}
