$zLayer0: 0; // base content
$zLayer1: 1; // base content children
$zLayer2: 2; // popovers / tooltips / infotips / dropdowns
$zLayer3: 2; // popover children
$zLayer4: 4; // overlays
$zLayer5: 5; // overlay children
$zLayer6: 6; // modals
$zLayer7: 7; // modal children

$breakpoint0: 640px;
$breakpoint1: 768px;
$breakpoint2: 1024px;
$breakpoint3: 1280px;
$breakpoint4: 1536px;
