$size0: 0.125rem;
$size1: 0.25rem;
$size2: 0.375rem;
$size3: 0.5rem;
$size4: 0.625rem;
$size5: 0.75rem;
$size6: 0.875rem;
$size7: 1rem;
$size8: 1.25rem;
$size9: 1.5rem;
$size10: 1.75rem;
$size11: 2rem;
$size12: 2.5rem;
$size13: 3rem;
$size14: 4rem;
