@import '~@material-design-icons/font/filled.css';
@import 'styles/size.scss';

$iconSizes: (
  'xxsmall': $size4,
  'xsmall': $size6,
  'small': $size7,
  'medium': $size8,
  'large': $size10,
  'xlarge': $size12,
  'xxlarge': $size14,
);

.mono-icon {
  color: currentColor;
  display: inline-block;
  user-select: none;

  @each $iconSize, $fontSize in $iconSizes {
    &--#{$iconSize} {
      font-size: $fontSize;
    }
  }
}
