@import 'styles/size.scss';

.mono-icon-button {
  position: relative;

  &.mono-button--link {
    text-decoration: none;
  }

  &__icon {
    display: inline-block;
    margin-right: $size3;

    &:only-child {
      margin-right: 0;
    }
  }
}
