@import 'styles/color.scss', 'styles/size.scss';

.mono-media-controls {
  background-color: $colorBackground3;
  border-radius: $size2;
  display: inline-flex;
  margin: $size5;
  width: auto;

  &__menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__submenu {
    padding: 0;
  }

  &__item {
    flex: 1 1 auto;
    margin-right: $size5;
    justify-content: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__controls {
    margin-right: 0;
    padding: $size3 $size5;
  }

  &__pane {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    padding: 0 $size3;
    margin-right: 0;
  }

  &__left-pane {
    border-radius: $size2 0 0 $size2;
  }

  &__right-pane {
    border-radius: 0 $size2 $size2 0;
  }

  &__button {
    margin: 0 !important;
    text-decoration: none;
  }

  &__skip-forward {
    margin-right: 0;
  }

  &__time {
    margin-left: auto;
    margin-right: 0;
    width: 100%;
  }
}
